* {
    padding: 0%;
    margin: 0%;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.menu{
    height: 100vh;
    width: 100%;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color : #6F8966;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    pointer-events: none;
}
span{
    color: rgb(9, 54, 9);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color : black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: large;
}
nav ul li a:hover{
    color : #A6BDA4;
    transition: .4s;
}
.btn{
    background-color: rgb(9, 54, 9);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.biodata{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    pointer-events: none;
}
h1{
    color: #6F8966;
    margin: 20px 0px 20px;
    font-size: 75px;
    animation: fade 1s ease-in 1s;
}
h3{
    color: rgb(9, 54, 9);
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;
}
h4{
    color: rgb(9, 54, 9);
    letter-spacing: 2px;
    font-size: 20px;
}
.harapan{
    background-color: #6F8966;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 400;
    padding: 25px 20px;
    border-radius: 10px;
}
.sma{
    width: 100%;
    padding: 100px 0px;
    background-image: url("img/background2.jpg");
    background-size: cover;
    background-position: center;
}
.sma iframe{
    height: 450px;
    width: 400px;
    background-color: #FFFCF2;
    border: 2px solid transparent;
    padding: 15px 15px;
    border-radius: 50px;

}
.sma-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sma-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.sma-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.sma-text p{
    color: black;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    font-weight: 600;
}
.link-main{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(img/background4d.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.judul-web{
    color : white;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    cursor: pointer;
}
.link-list{
    display: flexbox;
    margin-bottom: 60px;
    margin-top: 20px;
    justify-content: space-evenly;
}
.link-list a{
    display: flexbox;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color : black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 15px;
    margin-right: 15px;
}
.link-list a:hover{
    color : #A6BDA4;
    transition: .4s;
}
.video{
    width: 100%;
    padding: 50px 0px;
    height: 100vh;
    background-image: url("img/background3.jpg");
    background-size: cover;
    background-position: center;
}
.judul-video{
    color : #6F8966;
    font-size: 50px;
    width: 1700px;
    margin: 30px auto;
    text-align: center;
}
.kotak{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.kartu{
    height: 600px;
    width: 500px;
    padding: 20px 35px;
    background-color: #A6BDA4;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.kartu i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 10px 0px;
    color: rgb(9, 54, 9);
}
.kartu iframe{
    height: 400px;
    width: 400px;
    padding: 8px 15px;
}
.kartu p{
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 400;
}
.end{
    position: absolute;
    color: white;
    bottom: 10px;
    font-size: 14px;
}
html{
    scroll-behavior: smooth;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}